/* .App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid
}

.error-message {
  color: red
}

.active-filter {
  background-color: lightseagreen;
}
*/
.is-done {
  /* opacity: 0.65; */
  color: rgb(157, 157, 157);
} 

ul {
  padding: 0;
}
li {
  list-style: none;
}